@model SuperHeroes.Models.SuperHero

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>SuperHero</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.SuperHeroName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SuperHeroName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SuperHeroName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AlterEgo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AlterEgo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AlterEgo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PrimaryAbility, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PrimaryAbility, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PrimaryAbility, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SecondaryAbility, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SecondaryAbility, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SecondaryAbility, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CatchPhrase, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CatchPhrase, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CatchPhrase, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<div class="row">
    <div class="col-md-3">
        <h2></h2>
        <p>
            <img class="img-responsive" src="https://vignette.wikia.nocookie.net/marvelcinematicuniverse/images/3/39/AoU_Iron_Man_Mk43_art.png/revision/latest?cb=20150310052243" alt="Ironman" height="180" width="180">
        </p>
        <p></p>
    </div>
    <div class="col-md-3">
        <h2></h2>
        <p>
            <img class="img-responsive" src="https://vignette.wikia.nocookie.net/marvelcinematicuniverse/images/f/fd/AoU_Captain_America_2shield-guard.png/revision/latest?cb=20150310052018" alt="Captain America" height="200" width="200">
        </p>
        <p></p>
    </div>
    <div class="col-md-3">
        <h2></h2>
        <p>
            <img class="img-responsive" src="https://vignette.wikia.nocookie.net/marvelcinematicuniverse/images/d/d7/Thor_2_Avengers_FH.png/revision/latest?cb=20161114042839" alt="Thor" height="200" width="200">
        </p>
        <p></p>
    </div>
    <div class="col-md-3">
        <h2></h2>
        <p>
            <img class="img-responsive" src="https://pre00.deviantart.net/a1f3/th/pre/i/2018/119/d/4/spiderman_avengers_infinity_war_by_gasa979-dca87cc.png" alt="Spiderman" height="200" width="200">
        </p>
        <p></p>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
